<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LOG_NETWORK</key>
	<true/>
	<key>PLIST_VERSION</key>
	<integer>1</integer>
	<key>TIMEOUT_INTERVAL</key>
	<integer>30</integer>
	<key>SUCESS_STATUS_CODES</key>
	<array>
		<string>200-299</string>
	</array>
	<key>HTTP_HEADERS</key>
	<dict>
		<key>Accept</key>
		<string>application/json</string>
		<key>Content-Type</key>
		<string>application/json</string>
	</dict>
	<key>DEFAULT_METHOD</key>
	<string>GET</string>
	<key>LOG_DEPOT_OPERATIONS</key>
	<false/>
</dict>
</plist>
